<div class="audio-table-container">

    <table class="audio-table">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Creator</th>
            <th>Length</th>
        </tr>
        <% for (let i = 1; i < tableRows.length; i++) { %>
        <tr class="audio-row" id="<%= tableRows[i].id %>">
            <td class="row-num"> <%= i %>
            </td>
            <td class="title"> <%= tableRows[i].title %> </td>
            <td class="creator"> <%= tableRows[i].creator %> </td>
            <td class="length"> <%= tableRows[i].length %> </td>
        </tr>
        <% } %>
    </table>
</div>
<script src="javascripts/audio-table.js"></script>