<div class="audio-table-container">

    <table class="audio-table">
        <tr>
            <th class="th-row-num">#</th>
            <th class="th-title">Title</th>
            <th class="th-creator">Creator</th>
            <th class="th-creator">Collection</th>
            <th class="th-duration">Duration</th>
        </tr>
        <% let i = 1; %>
        <% for (let id in tableRows) { %>
            <tr class="audio-row" id="<%= id %>">
                <td class="row-num"> <%= i++ %></td>
                <td class="title"> <%= tableRows[id].title %> </td>
                <td class="creator"> <%= tableRows[id].creator %> </td>
                <td class="collection"> <%= tableRows[id].collection %> </td>
                <td class="length"> <%= tableRows[id].length %> </td>
                <td class="three-dots">&#8942;</td>
            </tr>
        <% } %>
    </table>
</div>
<script src="/javascripts/audio-table.js"></script>