<div class="audio-table-container">
    <link rel='stylesheet' href='stylesheets/audio-table.css'/>
    <table class="audio-table">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Creator</th>
            <th>Length</th>
        </tr>
        <audio id='current_track'><source id="current_src" type='audio/mpeg'></audio>
        <% for (let i = 0; i < tableRows.length; i++) { %>
        <tr class="audio-row" onclick="playAudio(this)" id="<%=tableRows[i].id%>">
            <td class="row-num"> <%= i + 1 %> 
            </td>
            <td class="title"> <%= tableRows[i].title %> </td>
            <td class="creator"> <%= tableRows[i].creator %> </td>
            <td class="length"> <%= tableRows[i].length %> </td>
        </tr>
        <% } %>
    </table>
</div>

<script src="javascripts/audio-table.js"></script>