<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tilawah</title>
    <%- include('necessary-imports.ejs') %>
    <%- include('stylesheets.ejs') %>
</head>

<body>
<div
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;  background-position: center center;
">
    <%- include('header.ejs') %>
    <div style="height: 575px; margin-bottom: 10px; ">
        <div style="display: flex; flex-direction: row; width: 100%; height: 100%; gap: 5px">
            <% if (options.hamburger) { %>
                <%- include('sidebar.ejs') %>
            <% } %>
            <div style="display: flex; flex-direction: column; width: 100%; height: 100%; gap: 5px">

                    <div class="search">
                        <div class="searchbar">
                            <%- include('searchbar.ejs') %>
                        </div>
                        <div class="search-filter">

                            <%- include('search-filter.ejs') %>
                        </div>
                    </div>

                <div style="width: 100%; height: 100%" class="main-container">
                    <% if (route === "/" || route === "/home" || route === "/playlist" ) { %>
                        <%- include('audio-table.ejs', {tableRows: audioList}) %>
                    <% } else if (route === "/login" ) { %>
                        <%- include('login-DOM.ejs') %>
                    <% } else if (route === "/register" ) { %>
                        <%- include('register-DOM.ejs') %>
                    <% } else if (route === "/profile" ) { %>
                        <%- include('profile-DOM.ejs') %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('control-panel.ejs') %>
</div>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/search.js"></script>
</body>

</html>