<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tilawah</title>
    <%- include('necessary-imports.ejs') %>
    <%- include('stylesheets.ejs') %>
</head>
<body>
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column">
    <%- include('header.ejs') %>
    <div style="display: flex; flex-direction: row; width: 100%; height: 100%;">
        <%- include('sidebar.ejs') %>
        <div style="width: 100%; height: 100%" class="main-container">
            <% if (route === "/") { %>
                <%- include('audio-table.ejs', {tableRows: audioList}) %>
            <% } else if (route === "/login") { %>
                <%- include('login-partial.ejs') %>
            <% } else if (route === "/profile") { %>
                <%- include('profile-partial.ejs') %>
            <% } %>
        </div>
        <%- include('control-panel.ejs') %>
    </div>
</div>
<script src="javascripts/index.js"></script>
</body>
</html>
